.canvas {
  box-shadow: black 1px 1px 5px;
}
.control {
  .control__info__play {
    font-weight: bold;
    cursor: pointer;
    &.control__info__button__play--stopped {
      color: green;
    }
    &.control__info__button__play--running {
      color: red;
    }
  }
}